# Telegram Bot Token
TELEGRAM_TOKEN=your_telegram_bot_token_here

# VPN API URL
VPN_API_URL=https://your-vpn-api-url.com

# Admin User IDs (comma-separated list of Telegram user IDs)
ADMIN_USERS=123456789,987654321

# API Key for VPN service authentication (if required)
API_KEY=your_api_key_here


#bellow is used for the VPN server config generation
#ip/domain of the VPN server
VPN_SERVER=your_vpn_server_ip_or_domain_here

#port of the VPN server
VPN_PORT=your_vpn_server_port_here

#obfs password
OBFS_PASSWORD=your_obfs_password_here

#pinSHA256
PIN_SHA256=your_pin_sha256_here

#insecure(default=1)
INSECURE=your_insecure_here

#sni
SNI=example.com

# Cryptomus Payment Gateway Settings
CRYPTOMUS_MERCHANT_ID=your_merchant_id_here
CRYPTOMUS_API_KEY=your_api_key_here
CRYPTOMUS_TEST_MODE=false
PAYMENT_CALLBACK_URL=https://your-domain.com/webhook/cryptomus

# Set to true to enable debug logging
DEBUG=false
