[Unit]
Description=Run Dijiq VPN Bot updater daily

[Timer]
OnCalendar=daily
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
