{% extends "base.html" %}

{% block title %}Config Editor{% endblock %}

{% block content %}
<br>
<div class="" style="margin-left: 20px; margin-right: 20px; margin-bottom: 20px;"
     data-get-file-url="{{ url_for('get_file') }}"
     data-set-file-url="{{ url_for('set_file') }}">
    <div class="flex justify mb-4 space-x-2">
        <button id="restore-button" class="px-4 py-2 bg-blue text-black rounded-lg">Restore JSON</button>
        <button id="save-button" class="px-4 py-2 bg-green text-black rounded-lg duration-200">Save JSON</button>
    </div>

    <div id="jsoneditor" class="border rounded-lg shadow-lg" style="height: 750px; width: 100%;"></div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/jsoneditor@9.1.0/dist/jsoneditor.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsoneditor@9.1.0/dist/jsoneditor.min.css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('assets', path='js/config.js') }}"></script>
{% endblock %}